img {
  width: 45%;
  height: 500px;
  padding: 5px;
  margin-bottom: 2px;
  margin-left: 2px;
  border: 2px dashed white;
  filter:brightness(100%);
}

body {
  background-color: #FBB2E6;
}

h1 {
  color: white;
  font-family:'Mali', cursive;
  border: 2px solid white;
  height: 50px;
  width: 200px;
  text-align: center;
  margin: auto;
  margin-bottom: 15px;
}

@media screen and (max-width:900px){
  img {
    width: 90%
    filter:brightness(100%);
  }
}

#gallery{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;


}
